# Filtering, Ordering, and Limiting Data with SQL - Lab

## Introduction
In this lab, you will practice writing SQL `SELECT` queries that limit results based on conditions, using `WHERE`, `ORDER BY`, and `LIMIT`.

## Objectives
You will practice the following:

* Order the results of your queries by using `ORDER BY` (`ASC` & `DESC`)
* Limit the number of records returned by a query using `LIMIT`
* Write SQL queries to filter and order results

## The Data

Here's a database full of famous dogs!  The `dogs` table is populated with the following data:

|name      |age    |gender |breed           |temperament|hungry |
|----------|-------|-------|----------------|-----------|-------|
|Snoopy    |3      |M      |beagle          |friendly   |1      |
|McGruff   |10     |M      |bloodhound      |aware      |0      |
|Scooby    |6      |M      |great dane      |hungry     |1      |
|Little Ann|5      |F      |coonhound       |loyal      |0      |
|Pickles   |13     |F      |black lab       |mischievous|1      |
|Clifford  |4      |M      |big red         |smiley     |1      |
|Lassie    |7      |F      |collie          |loving     |1      |
|Snowy     |8      |F      |fox terrier     |adventurous|0      |
|NULL      |4      |M      |golden retriever|playful    |1      |

## Connecting to the Database

In the cell below, import `pandas` and `sqlite3`. Then establish a connection to the database `dogs.db`.

Look at all of the data in the table by selecting all columns from the `dogs` table with `pd.read_sql`.

In [56]:
# Your code here; imports, create a connection, select all
import pandas as pd

import sqlite3

conn = sqlite3.connect('dogs.db')
cursor = conn.cursor()

In [58]:
pd.read_sql

<function pandas.io.sql.read_sql(sql, con, index_col: 'str | list[str] | None' = None, coerce_float: 'bool' = True, params=None, parse_dates=None, columns: 'list[str] | None' = None, chunksize: 'int | None' = None, dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>, dtype: 'DtypeArg | None' = None) -> 'DataFrame | Iterator[DataFrame]'>

In [54]:
df = pd.read_sql('SELECT * FROM dogs;', conn)
print(df)

   id        name  age gender             breed  temperament  hungry
0   1      Snoopy    3      M            beagle     friendly       1
1   2     McGruff   10      M        bloodhound        aware       0
2   3      Scooby    6      M        great dane       hungry       1
3   4  Little Ann    5      F         coonhound        loyal       0
4   5     Pickles   13      F         black lab  mischievous       1
5   6    Clifford    4      M           big red       smiley       1
6   7      Lassie    7      F            collie       loving       1
7   8       Snowy    8      F       fox terrier  adventurous       0
8   9        None    4      M  golden retriever      playful       1

## Queries

Display the outputs for each of the following query descriptions.

### Select the name and breed for all female dogs

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>WHERE</code> with the <code>=</code> operator</p>
</details>

In [84]:
# Your code here

cursor.execute('''
SELECT name, breed 
FROM dogs 
WHERE gender = 'F'
''')
output = cursor.fetchall()

print(output)

[('Little Ann', 'coonhound'), ('Pickles', 'black lab'), ('Lassie', 'collie'), ('Snowy', 'fox terrier')]

### Select the number of dogs that do not have a name

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>COUNT</code> and <code>IS NULL</code></p>
</details>

In [86]:
# Your code here
cursor.execute('''
SELECT COUNT(*) 
FROM dogs 
WHERE name IS NULL;

''')
output = cursor.fetchall()

print(output)

[(1,)]

### Select the names of all dogs that contain the double letters `ff` or `oo`

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>LIKE</code>, <code>%</code>, and <code>OR</code></p>
</details>

In [92]:
# Your code here
cursor.execute('''
SELECT name 
FROM dogs 
WHERE name LIKE '%ff%' OR name LIKE '%oo%';

''')
output = cursor.fetchall()

print(output)

[('Snoopy',), ('McGruff',), ('Scooby',), ('Clifford',)]

### Select the names of all dogs listed in alphabetical order.  Notice that SQL lists the nameless dog first.

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>ORDER BY</code></p>
</details>

In [94]:
# Your code here
cursor.execute('''
SELECT name 
FROM dogs 
ORDER BY name ASC;

''')
output = cursor.fetchall()

print(output)

[(None,), ('Clifford',), ('Lassie',), ('Little Ann',), ('McGruff',), ('Pickles',), ('Scooby',), ('Snoopy',), ('Snowy',)]

### Select the name and breed of only the hungry dogs and list them from youngest to oldest

In [96]:
# Your code here
cursor.execute('''
SELECT name 
FROM dogs 
WHERE hungry = 1 
ORDER BY age ASC;

''')
output = cursor.fetchall()

print(output)

[('Snoopy',), ('Clifford',), (None,), ('Scooby',), ('Lassie',), ('Pickles',)]

### Select the oldest dog's name, age, and temperament

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>ORDER BY</code> with <code>LIMIT</code></p>
</details>

In [98]:
# Your code here
cursor.execute('''
SELECT name 
FROM dogs 
ORDER BY age DESC 
LIMIT 1;
''')
output = cursor.fetchall()

print(output)

[('Pickles',)]

### Select the name and age of the three youngest dogs

In [102]:
# Your code here
cursor.execute('''
SELECT name, age 
FROM dogs 
WHERE age IN (SELECT age FROM dogs ORDER BY age ASC LIMIT 3)
ORDER BY age ASC;
''')
output = cursor.fetchall()

print(output)

[('Snoopy', 3), ('Clifford', 4), (None, 4)]

### Select the name and breed of the dogs who are between five and ten years old, ordered from oldest to youngest

<details>
    <summary style="cursor: pointer; display: inline"><h4>Click for hint:</h4></summary>
    <p>Use <code>WHERE</code> with <code>BETWEEN</code></p>
</details>

In [110]:
# Your code here
cursor.execute('''
SELECT name, breed 
FROM dogs 
WHERE age BETWEEN 5 AND 10 
ORDER BY age DESC;
''')
output = cursor.fetchall()

print(output)

[('McGruff', 'bloodhound'), ('Snowy', 'fox terrier'), ('Lassie', 'collie'), ('Scooby', 'great dane'), ('Little Ann', 'coonhound')]

### Select the name, age, and hungry columns for hungry dogs between the ages of two and seven.  This query should also list these dogs in alphabetical order.

In [112]:
# Your code here
cursor.execute('''
SELECT name, age, hungry 
FROM dogs 
WHERE hungry = 1 AND age BETWEEN 2 AND 7 
ORDER BY name ASC;
''')
output = cursor.fetchall()

print(output)

[(None, 4, 1), ('Clifford', 4, 1), ('Lassie', 7, 1), ('Scooby', 6, 1), ('Snoopy', 3, 1)]

## Close the Database Connection

In [116]:
# Your code here
conn.close()

## Summary

Great work! In this lab you practiced writing more complex SQL statements to not only query specific information but also define the quantity and order of your results.